/*
p{
color:red;
font-weight: bold;
font-size: 30px;
    }
*/

/*body {
    
background: green
    
}*/

p,h2 {

color:red;
    
    
}

h1 {
    
color: aqua    
    
}

div p {
font-weight: bold
}

#p1 {
color: hotpink
}

.h2 {
color: darkorange
}

div {
border: 1px solid black;
float: inherit;
border-radius: 25px;
}

div ul {
list-style-type: none
}